.navbar {
  height: 100vh;
  box-sizing: border-box;
  width: 200px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  min-width: 178px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  padding: 0 var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-sm);
  margin-right: var(--mantine-spacing-md);
  font-weight: 500;
  height: 44px;
  line-height: 44px;
  transition: all 150ms ease-in-out;

  &:hover {
    background-color: #151b24;
    color: var(--mantine-color-light);
  }
}

.innerLink {
  padding: 0 0.25rem 0.125rem;
}

.link[data-active] > .innerLink {
  background-color: var(--mantine-color-red-filled);
  color: var(--mantine-color-white);
}

.burger {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
}

.forMobile {
  display: none;
}

.name {
  font-size: 1.5rem;
  padding: 0.5rem 0 0.5rem 1rem;
  line-height: 1.75rem;
}

@media (max-width: 640px) {
  .forMobile {
    display: contents;
  }

  .navbar {
    height: 2.5rem;
    background-color: #030303;
    width: 100vw;
    flex-direction: row;
    align-items: center;
  }

  .main {
    position: fixed;
    left: -100%;
    top: 2.5rem;
    background-color: #030303;
    bottom: 0;
    transition: all 200ms ease-in-out;
  }

  .show {
    left: 0; 
  }
}